body {
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #18abe1;
    overflow: hidden;
}
p span {
    color:#999;
    font-size:70%;
}
.wrapper {
    width:auto;
    max-width:98%;
    margin: auto;
  }
 nav {
    display:block;
    width:100%;
}
nav ul {
    padding:0;
    margin:0;
    list-style:none;
}
nav ul li {
    position:relative;
}
nav ul a {
    text-decoration:none;
    color:#fff;
}
nav > ul > li {
    float:left;
    margin-right:1px;
    background:#93969d;
    -webkit-transition:background 500ms;
    -moz-transition:background 500ms;
    -o-transition:background 500ms;
    transition:background 500ms;
}
nav > ul > li > a {
    display:inline-block;
    padding:4px 10px 0;
    height:25px;
}
nav > ul > li.submenu > a {
    padding-right:5px;
}
nav > ul > li:hover {
    background:#000;
}
nav li.submenu {
    padding-right:22px;
}
nav li.submenu:before {
    content:"-";
    display:block;
    position:absolute;
    top:4px;
    right:0;
    color:#fff;
    width:16px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transition:transform 200ms;
    -moz-transition:transform 200ms;
    -o-transition:transform 200ms;
    transition:transform 200ms;
}
nav li.submenu:hover:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
nav li.submenu li.submenu:hover:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
nav ul ul {
    position:absolute;
    left:0;
    top:29px;
    width:180px;
    filter:alpha(opacity="0");
    opacity:0;
    background:#666;
    font-size:12px;
    border:1px solid #000;
    border-bottom:0;
    border-top:0;
    -webkit-transition:.5s opacity;
    -moz-transition:.5s opacity;
    -o-transition:.5s opacity;
    transition:.5s opacity;
}
nav ul ul li {
    display:none;
}
nav ul li.submenu:hover > ul > li {
    display:block;
}
nav ul li.submenu:hover > ul {
    filter:alpha(opacity="100");
    opacity:1;
}
nav ul li.submenu:hover > ul ul {
    filter:alpha(opacity="0");
    opacity:0;
}
nav ul li.submenu:hover > ul li.submenu:hover > ul {
    filter:alpha(opacity="100");
    opacity:1;
}
nav ul li.submenu:hover > ul li.submenu:hover > ul > li {
    display:block;
}
nav ul ul li {
    border-bottom:1px solid #000;
    background:#282e3b;
}
nav ul ul li:first-child {
    border-top:1px solid #000;
}
nav ul ul li a {
    padding:4px 10px;
    display:block;
    -webkit-transition:background 500ms, padding 500ms;
    -moz-transition:background 500ms, padding 500ms;
    -o-transition:background 500ms, padding 500ms;
    transition:background 500ms, padding 500ms;
}
nav ul ul li:hover {
    background:#000;
}
nav ul ul li:hover > a {
    padding-left:15px;
}
nav ul ul ul {
    left:180px;
    top:0;
    margin-top:-1px;
}

#scary{
  position: absolute;
  top:91%;
  left:95%
  }
#scary img{
  opacity:0.5;
}
#scary img:hover{
  opacity:0;
}

#arrow_right{
  height: 50px;
  width: 50px;
  position: absolute;
  left:95%;
}
#arrow_right img{
  height: 50px;
  width: 50px;
}
